<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}" />
    <title>
        {{ page.title | default: site.title }}
    </title>
</head>
<body>
    <nav class="site-nav" lang="en">
        <ul class="site-nav-list">
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/about' | relative_url }}">About</a></li>
            <li><a href="{{ '/posts' | relative_url }}">Posts</a></li>
        </ul>
    </nav>
    <nav class="link-nav" lang="en">
        <ul class="link-nav-list">
            <li><a href="https://github.com/alphaArgon"><i class="icon-github"></i><span class="visually-hidden">GitHub</span></a></li>
            <li><a href="https://twitter.com/alpha_argon"><i class="icon-twitter"></i><span class="visually-hidden">Twitter</span></a></li>
        </ul>
    </nav>
    <main class="main" lang="{{ page.lang | default: site.lang }}">
{%- unless page.suppress_header -%}
        <header>
            <span class="site-badge">://argon.red</span>
    {%- if page.cover -%}
            <img class="header-banner-image" src="{{ page.cover | relative_url }}">
    {%- endif -%}
        </header>
{%- endunless -%}
{%- if page.title -%}
        <h1 class="main-title">
            {{ page.title }}
        </h1>
{%- endif -%}
        <article class="main-content">
            {{ content }}
        </article>
{%- if page.date or page.source -%}
        <footer class="post-meta">
    {%- if page.date -%}
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: {{ site.date_format }} }}</time>
    {%- endif -%}
    {%- if page.source -%}
        {%- if page.source contains "github.com" -%}
            <span>首发于 <a href="{{ page.source }}">GitHub</a></span>
        {%- elsif page.source contains "zhihu.com" -%}
            <span>首发于<a href="{{ page.source }}">知乎</a></span>
        {%- elsif page.source contains "bilibili.com" -%}
            <span>首发于<a href="{{ page.source }}">哔哩哔哩</a></span>
        {%- elsif page.source contains "weibo.com" -%}
            <span>首发于<a href="{{ page.source }}">微博</a></span>
        {%- elsif page.source contains "weixin.qq.com" -%}
            <span>首发于<a href="{{ page.source }}">微信公众号</a></span>
        {%- else -%}
            <span>首发于 <a href="{{ page.source }}">{{ page.source }}</a></span>
        {%- endif -%}
    {%- endif -%}
        </footer>
{%- endif -%}
    </main>
</body>
</html>
