<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, follow">
    <meta name="color-scheme" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}"/>
    <script src="{{ '/assets/style.js' | relative_url }}"></script>
    <title>{{ page.title | default: site.title }}</title>
</head>
{%- capture site_badge -%}
    {%- case page.url -%}
    {%- when "/", "/index", "/index.html" -%}
        <span class="site-badge" role="complementary">{{ site.title }}</span>
    {%- else -%}
        {%- assign components = page.url | split: '/' -%}
        {%- assign sliceLength = components | size | minus: 1 -%}
        {%- assign updir = components | slice: 0, sliceLength | join: '/' -%}
        <a class="site-badge" href="{{ updir | relative_url }}" role="complementary" rel="up">{{ site.title }}</a>
        <!-- {{ page.url }} -->
    {%- endcase -%}
{%- endcapture -%}
<body ontouchstart>
        <nav class="site-nav" lang="en">
        {{ site_badge }}
        <ul class="site-nav-list">
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/about' | relative_url }}">About</a></li>
            <li><a href="{{ '/posts' | relative_url }}">Posts</a></li>
        </ul>
    </nav>
    <nav class="link-nav" lang="en">
        <ul class="link-nav-list">
            <li><a href="https://github.com/alphaArgon" target="_blank"><i class="icon-github"></i><span class="visually-hidden">GitHub</span></a></li>
            <li><a href="https://twitter.com/alpha_argon" target="_blank"><i class="icon-twitter"></i><span class="visually-hidden">Twitter</span></a></li>
        </ul>
    </nav>
    <main class="main">
{%- if page.cover -%}
        <img class="page-banner-image" src="{{ page.cover | relative_url }}" role="banner">
{%- endif -%}
        {{ site_badge }}
        <article class="page-content">
{%- if page.title or page.date or page.source -%}
            <header class="page-header">
    {%- if page.title -%}
                <h1 class="page-title">{{ page.title }}</h1>
    {%- endif -%}
    {%- if page.date or page.source -%}
                <div class="page-meta">
        {%- if page.date -%}
                    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: site.date_format }}</time>
        {%- endif -%}
        {%- if page.source -%}
            {%- if page.source contains "github.com" -%}
                    <span>发布于 <a href="{{ page.source }}">GitHub</a></span>
            {%- elsif page.source contains "zhihu.com" -%}
                    <span>发布于<a href="{{ page.source }}">知乎</a></span>
            {%- elsif page.source contains "bilibili.com" -%}
                    <span>发布于<a href="{{ page.source }}">哔哩哔哩</a></span>
            {%- elsif page.source contains "weibo.com" -%}
                    <span>发布于<a href="{{ page.source }}">微博</a></span>
            {%- elsif page.source contains "weixin.qq.com" -%}
                    <span>发布于<a href="{{ page.source }}">微信公众号</a></span>
            {%- else -%}
                    <span>发布于 <a href="{{ page.source }}">{{ page.source }}</a></span>
            {%- endif -%}
        {%- endif -%}
                </div>
    {%- endif -%}
            </header>
{%- endif -%}
            <div class="page-body">
                {{ content }}
            </div>
        </article>
{%- if page.copyright -%}
        <div class="copyright caption">{{ page.copyright }}</div>
{%- elsif page.date -%}
        <div class="copyright caption">&copy; {{ page.date | date: "%Y" }}</div>
{%- endif -%}
    </main>
</body>
</html>
